AUTHORIZATION_TOKEN=generate using openssl rand -base64 32

TOBIS_KOCHBUCH_URL=http://tobis-kochbuch

SHOPPING_LIST_URL=http://wg-einkaufsliste:8080
SHOPPING_LIST_TOKEN=get from shopping-list service

KEYCLOAK_BASE_URL=https://some-keycloak-server.com
KEYCLOAK_REALM=some-realm
KEYCLOAK_CLIENT_ID=some-client-id
KEYCLOAK_CLIENT_SECRET=generate using Keycloak admin console
KEYCLOAK_GROUP_ID=uuid from keycloak admin console